# .env.example

# =======================================
# Infrastructure for DevOps Operations:
# - Store terraform state
# =======================================

# Resource group for DevOps operations
RESOURCE_GROUP_NAME_DEVOPS=quiz-devops-dev-rg

# Your own state for testing terraform in your own azure account
# Names must be unique, replace <dev> with your name (use only lowercase and numbers, max 24 chars)
STORAGE_ACCOUNT_NAME_DEVOPS=quiztfstate<dev>

# Storage Container name inside the Storage Account
CONTAINER_NAME_DEVOPS=terraform-state

# The name of the state file inside the container
STATE_KEY_DEVOPS=dev.terraform.tfstate

# Default Azure Region for Devops operations
AZURE_LOCATION_DEVOPS=centralus